.visualiser-container {
  display: flex;
  justify-content: space-evenly;
}
.visualiser-canvas {
  flex: 2 1 0;
}
.options-section {
  flex: 1 1 auto;
  height: 100%;
  padding-right: 15px;
  max-width: 20vw;
}

.p-img {
  height: 2.5rem;
}

.nav-image {
  width: 15%;
}
